@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

@font-face {
    font-family: "Mona Sans";
    src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("/fonts/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@layer base {
    body {
        --body: theme("colors.light");
        --copy: theme("colors.dark");
        --grey: theme("colors.grey");
        --accent: theme("colors.pink");
        --highlight: theme("colors.byzantium");
    }

    body.dark {
        --body: theme("colors.dark");
        --copy: theme("colors.light");
    }

    body {
        min-width: 22.5rem;

        @apply font-body;

        @apply bg-body;
        @apply text-copy;

        @apply leading-none;

        @apply custom-scrollbar;
    }

    ::selection {
        @apply bg-pink;

        @apply text-white;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply heading;

        @apply text-accent;

        @apply break-words;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-7;
    }

    h1 {
        @apply mb-9;

        @apply text-5xl;
        @apply md:text-6xl;
    }

    h2 {
        @apply text-4xl;
        @apply md:text-5xl;
    }

    h3 {
        @apply text-3xl;
        @apply md:text-4xl;
    }

    h4 {
        @apply text-2xl;
        @apply md:text-3xl;
    }

    h5 {
        @apply text-xl;
        @apply md:text-2xl;
    }

    h6 {
        @apply font-bold;

        @apply text-lg;
        @apply md:text-xl;
    }

    p {
        @apply mb-6;

        @apply leading-relaxed;
    }

    small {
        @apply text-xs;
    }

    a {
        @apply in-out-smooth;
    }

    button {
        @apply in-out-smooth;
    }

    a:focus,
    button:focus {
        outline: none;
    }

    input {
        @apply input;
    }

    textarea {
        @apply textarea;
    }

    section {
        @apply section;
    }

    hr {
        @apply border-silver;
    }
}
