@layer components {
    /*
		HTML Elements
	*/
    .button {
        @apply px-7;
        @apply py-6;

        @apply rounded-md;

        @apply bg-highlight;
        @apply text-light;

        @apply tracking-wider;

        @apply shadow;

        &:enabled {
            @apply fade-link;
        }

        &:disabled {
            @apply button--disabled;
        }

        &--anchor {
            @apply block;

            @apply text-center;

            @apply fade-link;
        }

        &--disabled {
            @apply bg-zinc-500;

            @apply cursor-not-allowed;
        }

        &--highlight {
            @apply focus:bg-highlight;
            @apply hover:bg-highlight;
        }

        &--loading {
            @apply cursor-wait;
        }

        &-social {
            @apply inline-flex;
            @apply items-center;

            @apply space-x-5;

            &--discord {
                @apply bg-[#5865F2];
            }

            &--github {
                @apply bg-[#171515];
            }

            &__icon {
                @apply h-7;
            }
        }
    }

    .heading {
        @apply font-heading;

        @apply tracking-wide;
    }

    .input,
    .textarea {
        @apply w-full;

        @apply border-silver;

        @apply bg-transparent;

        @apply outline-0;

        @apply caret-byzantium;

        @apply in-out-smooth;

        &:focus {
            @apply border-highlight;
        }
    }

    .input {
        @apply py-4;

        @apply border-b;

        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    .label {
        @apply block;

        @apply mb-5;
    }

    .section {
        @apply gutter;

        @apply py-7;
        @apply md:py-8;
        @apply lg:py-9;
    }

    .textarea {
        @apply h-12;

        @apply p-4;

        @apply border;

        @apply rounded;
    }

    /*
		Custom Elements
	*/
    .bounties-item {
        &--light {
            @apply text-light;

            a {
                @apply text-light;
            }

            .jumbo {
                &__text {
                    @apply opacity-25;
                }
            }
        }
    }

    .circle-image {
        @apply object-cover;

        @apply rounded-full;

        @apply shadow;
    }

    .divider {
        @apply h-6;
        @apply md:h-7;
        @apply lg:h-8;
    }

    .divider--left-up {
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }

    .divider--left-down {
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    .divider--right-down {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .divider--right-up {
        clip-path: polygon(0 0, 0% 100%, 100% 0);
    }

    .game {
        @apply flex;
        @apply flex-col;

        @apply sm:flex-row;

        @apply items-center;

        @apply sm:space-x-7;

        @apply space-y-6;
        @apply sm:space-y-0;

        @apply text-center;
        @apply sm:text-left;

        &__details {
            @apply space-y-3;

            @apply text-sm;
        }

        &__image {
            @apply circle-image;

            @apply h-10.5;
            @apply w-10.5;
        }

        &__title {
            @apply heading;

            @apply block;

            @apply mb-5;

            @apply text-accent;

            @apply text-3xl;
            @apply lg:text-4xl;

            @apply leading-none;
        }
    }

    .jumbo {
        @apply absolute;
        @apply top-1/2;
        @apply left-1/2;

        @apply transform;
        @apply -translate-x-1/2;
        @apply -translate-y-1/2;

        @apply pointer-events-none;

        &__text {
            @apply heading;

            @apply opacity-10;

            @apply text-7xl;
            @apply lg:text-8xl;

            @apply uppercase;
        }
    }

    .search {
        @apply relative;

        &--loading {
            input {
                @apply cursor-wait;
            }
        }

        &-item {
            &__button {
                @apply fade-link;

                @apply w-full;

                @apply flex;
                @apply items-center;

                @apply space-x-6;

                @apply px-5;
                @apply py-6;

                @apply text-left;

                @apply cursor-pointer;
            }

            &__image {
                @apply shrink-0;

                @apply h-9;
                @apply w-9;

                @apply rounded-full;

                @apply shadow;
            }

            &__released {
                @apply text-sm;
            }

            &__title {
                @apply leading-tight;
            }
        }

        &__list {
            @apply absolute;

            @apply left-0;
            @apply right-0;

            @apply z-10;

            @apply divide-y;

            @apply border-l;
            @apply border-r;
            @apply border-b;

            @apply rounded-bl;
            @apply rounded-br;

            @apply bg-body;

            @apply list-none;
        }
    }
}
