@layer components {
	.divider {
		@apply h-6;
		@apply md:h-7;
		@apply lg:h-8;
	}

	.divider--left-up {
		clip-path: polygon(100% 0, 0 0, 100% 100%);
	}

	.divider--left-down {
		clip-path: polygon(0 0, 0 100%, 100% 100%);
	}

	.divider--right-down {
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}

	.divider--right-up {
		clip-path: polygon(0 0, 0% 100%, 100% 0);
	}

	.section {
		@apply gutter;

		@apply rte;

		@apply py-7;
		@apply md:py-8;
		@apply lg:py-9;
	}
}
