@layer utilities {
    /*
		Layout
	*/
    .gutter {
        @apply px-7;

        @apply md:px-8;

        @apply lg:px-9;
    }

    /*
		Styles
	*/
    .bg-accent {
        background-color: var(--accent);
    }

    .bg-body {
        background-color: var(--body);
    }

    .bg-copy {
        background-color: var(--copy);
    }

    .bg-highlight {
        background-color: var(--highlight);
    }

    .border-accent {
        border-color: var(--accent);
    }

    .border-body {
        border-color: var(--body);
    }

    .border-copy {
        border-color: var(--copy);
    }

    .border-highlight {
        border-color: var(--highlight);
    }

    .text-accent {
        color: var(--accent);
    }

    .text-body {
        color: var(--body);
    }

    .text-copy {
        color: var(--copy);
    }

    .text-highlight {
        color: var(--highlight);
    }

    /*
		Links
	*/
    .fade-link {
        @apply focus:brightness-75;
        @apply hover:brightness-75;
    }

    .generic-link {
        @apply focus:opacity-50;
        @apply hover:opacity-50;

        @apply underline;
        @apply underline-offset-4;
    }

    /*
		Effects
	*/
    .blink {
        animation: blink 10s cubic-bezier(0, 0, 0.5, 1) infinite;
    }

    @keyframes blink {
        0%,
        10% {
            opacity: 0.75;
        }

        5% {
            opacity: 0.5;
        }
    }

    .cubic {
        transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }

    .custom-scrollbar::-webkit-scrollbar {
        @apply h-5;
        @apply w-5;

        @apply rounded-md;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply rounded-md;

        @apply bg-neutral-100;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-md;

        @apply bg-highlight;
    }

    .in-out-smooth {
        transition-property: all;
        transition-duration: 0.25s;
        transition-delay: 0s;

        @apply cubic;
    }
}
